@import "tailwindcss";

@theme inline {
  --color-background: #FFFFFF;
  --color-foreground: #111111;
  --color-secondary: #666666;
  --color-border: #EEEEEE;
  
  --font-sans: var(--font-primary);
  --font-display: var(--font-secondary);
}

:root {
  --background: #FFFFFF;
  --foreground: #111111;
  --secondary: #666666;
  --border: #EEEEEE;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  * {
    @apply border-[var(--border)];
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply tracking-tighter font-bold;
  }

  p {
    @apply leading-relaxed text-[var(--secondary)];
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #FFFFFF;
}

::-webkit-scrollbar-thumb {
  background: #EEEEEE;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #DDDDDD;
}

/* Transitions */
.page-transition {
  @apply transition-all duration-500 ease-in-out;
}
